.grid-container{
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns:  auto auto auto auto;
    grid-column: span 2;
    grid-row: span 2;
    grid-column-gap: 5%;
    grid-row-gap: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.grid-item{
    display:block;
    width: 200px;
    height: 180px;
    text-align: center;
    display: inline-block;
    row-gap: 10px;
    border: 1px solid;
    box-sizing: border-box;

}

.selected{
    float:left;
}

#header{ 
    display: flex;
    align-items: center;    
}

#header-heading{
    margin-right: auto;
}

#heading-button{
    margin-left: auto;
    height: 50px;
}

#main{
    margin-left:40px;
}

hr{
    margin-left: 25px;
    margin-right: 25px;
}

@media screen and (max-width: 920px){

    .grid-container{
        grid-template-columns:  auto auto auto;
    }

}

@media screen and (max-width: 680px){

    .grid-container{
        grid-template-columns:  auto auto ;
    }
}